<section>
    <div class="contact-container small-wrapper">
        <div class="form-map">
            <div class="col form-col">
                <form action="">
                    <input type="text" name="name" placeholder="Name">
                    <input type="number" name="phone" placeholder="Phone">
                    <input type="email" name="email" placeholder="Email">
                    <textarea placeholder="Leave us a message"></textarea>
                    <button tabindex="0" class="cta submit-btn" title="Submit" aria-label="Submit button">SUBMIT</button>
                </form>
            </div>
            <div class="location-info">
                <h2>Contact Us</h2>
                <p>Sit amet consectetur adipisicing elit inventore esse repudiandae autem corporis tempora enim aspernatur voluptas, blanditiis, dignissimos pariatur laboriosam minima dolorem nisi totam fugit voluptatum veero eum exercitationem.</p>
                <div class="card-container">

                    <div class="card">
                        <div class="inner-col">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="inner-col">
                            <h4>Email</h4>
                            <a href="mailto:" title="email" aria-labe="Email link">info@example.com</a>
                            <a href="mailto:" title="email" aria-labe="Email link">sales@example.com</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="inner-col">
                            <i class="fa-solid fa-phone-flip"></i>
                        </div>
                        <div class="inner-col">
                            <h4>Phone Number</h4>
                            <a href="tel:+" title="phone" aria-labe="Phone link">(123) 456 - 7891</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="inner-col contact-social">
                            <h4>Follow Us</h4>
                            <a href="" title="Facebook" aria-label="Facebook link"><i class="fa-brands fa-square-facebook"></i></a>
                            <a href="" title="Linkedin" aria-label="Linkedin link"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="" title="Instagram" aria-label="Instagram link"><i class="fa-brands fa-instagram"></i></a>
                            <a href="" title="YouTube" aria-label="YouTube link"><i class="fa-brands fa-youtube"></i></a>
                            <a href="" title="X - twitter" aria-label="X - twitter link"><i class="fa-brands fa-x-twitter"></i></a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="inner-col">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="inner-col">
                            <h4>Location Address</h4>
                            <a href="mailto:" title="email" aria-labe="Email link">789 Location Drive, <br /> Stanton, CA 99000</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .form-map{
        display: flex;
        justify-content: space-between;
    }
    .form-map .form-col{
        width: 35%;
        background-color: #fff;
        border-radius: 15px;
        padding: 2rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    .location-info{
        width: 62%;
        background-color: var(--soft-color-two);
        color: var(--backgrd-color);
        padding: 2rem 3rem;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    section h2{
        color: var(--backgrd-color);
        margin-bottom: 2rem;
    }
    .location-info p{margin-bottom: 2rem;}
    .location-info .card-container{
        display: flex;
        flex-wrap: wrap;
        gap: 3rem 1rem;
    }
    .location-info .card{
        width: 45%;
        display: flex;
        gap: 0 14px;
        min-width: 210px;
    }
    .card .inner-col:last-of-type{
        width: calc(100% - 30px);
        display: flex;
        flex-direction: column;
    }
    .card .inner-col i{font-size: 1.5rem;}
    .card .inner-col h4{margin-bottom: 10px;}
    .card .inner-col a{color: var(--backgrd-color);}
    .contact-social a{
        display: inline-block;
        margin-right: 10px;
    }
    .contact-social a:last-of-type{margin-right: 0;}
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.05rem;
        gap: 1.75rem 0;
    }
    form input{
        width: 100%;
        height: 3.5rem;
        padding: 0 10px;
        border-radius: 7px;
        border: 1px solid var(--dark-color-two);
        color: var(--dark-color-two);
    }
    form textarea{
        width: 100%;
        height: 10rem;
        padding: 10px;
        line-height: 1.45;
        border-radius: 10px;
        color: var(--dark-color-two);
        border: 1px solid var(--dark-color-two);
    }
    form input:focus, form input:active,
    form textarea:focus, form textarea:active{
        background-color: var(--backgrd-color);
    }
    form .submit-btn{width: 50%;}

    @media screen and (max-width: 1060px){
        form input{width: 100%;}
    }
    @media screen and (max-width: 875px){
        .form-map{flex-direction: column;}
        .form-map .col{width: 100%;}
        .form-map .form-col{order: 2;}
        .form-map .map-col{
            order: 1;
            margin-bottom: 3rem;
            height: 250px;
        }
    }
    @media screen and (max-width: 661px){
        .location-info{justify-content: center;}
    }
</style>