<section>
    <div class="contact-container wrapper">
        <div class="form-map">
            <div class="col form-col">
                <form action="">
                    <input type="text" name="name" placeholder="Name">
                    <input type="number" name="phone" placeholder="Phone">
                    <input type="email" name="email" placeholder="Email">
                    <textarea placeholder="Leave us a message"></textarea>
                    <button tabindex="0" class="cta submit-btn" title="Submit" aria-label="Submit button">SUBMIT</button>
                </form>
            </div>
            <div class="location-info">
                <div class="card">
                    <div class="inner-col">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="inner-col">
                        <h4>Email</h4>
                        <a href="mailto:" title="email" aria-labe="Email link">info@example.com</a>
                        <a href="mailto:" title="email" aria-labe="Email link">sales@example.com</a>
                    </div>
                </div>
                <div class="card">
                    <div class="inner-col">
                        <i class="fa-solid fa-phone-flip"></i>
                    </div>
                    <div class="inner-col">
                        <h4>Phone Number</h4>
                        <a href="tel:+" title="phone" aria-labe="Phone link">(123) 456 - 7891</a>
                    </div>
                </div>
                <div class="card">
                    <div class="inner-col">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="inner-col">
                        <h4>Location Address</h4>
                        <a href="mailto:" title="email" aria-labe="Email link">789 Location Drive, <br /> Stanton, CA 99000</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .location-info{
        background-color: var(--soft-color-two);
        color: var(--backgrd-color);
        padding: 2rem 3rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* gap: 2rem 1rem; */
        justify-content: space-between;
        margin-bottom: 2.5rem;
        width: 30%;
    }
    .location-info .card{
        display: flex;
        gap: 0 14px;
        width: 22%;
        min-width: 210px;
    }
    .card .inner-col:last-of-type{
        width: calc(100% - 30px);
        display: flex;
        flex-direction: column;
    }
    .card .inner-col i{font-size: 1.5rem;}
    .card .inner-col h4{margin-bottom: 10px;}
    .card .inner-col a{color: var(--charcoal);}
    .form-map{
        display: flex;
        justify-content: space-between;
    }
    .form-map .form-col{width: 50%;}
    form{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.75rem 1rem;
    }
    form input{
        width: 48%;
        height: 3.5rem;
        padding: 0 10px;
        border: 1px solid var(--dark-color-two);
        color: var(--charcoal);
        background-color: var(--backgrd-color);
    }
    form textarea{
        width: 100%;
        height: 10rem;
        padding: 10px;
        color: var(--dark-color-two);
        border: 1px solid var(--dark-color-two);
        background-color: var(--backgrd-color);
    }
    form .submit-btn{
        width: 50%;
        border: 0;
    }
    .form-map .map-col{
        width: 475px;
        height: auto;
    }
    .form-map iframe{
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width: 1250px){
        .form-map .form-col{width: calc(100% - 425px);}
        .form-map .map-col{width: 400px;}
    }
    @media screen and (max-width: 1060px){
        form input{width: 100%;}
    }
    @media screen and (max-width: 875px){
        .form-map{flex-direction: column;}
        .form-map .col{width: 100%;}
        .form-map .form-col{order: 2;}
        .form-map .map-col{
            order: 1;
            margin-bottom: 3rem;
            height: 250px;
        }
    }
    @media screen and (max-width: 661px){
        .location-info{justify-content: center;}
    }
</style>