<header id="header">
    <div class="header-container wrapper">
        <!-- <div class="left-col"> -->
            <a href="#" class="logo" title="logo" aria-label="Logo">SUGO</a>

            <nav class="header-nav">
                <ul>
                    <li>
                        <a href="">Features</a>
                    </li>
                    <li>
                        <a href="">About Us</a>
                    </li>
                    <li>
                        <a href="">Pricing</a>
                    </li>
                    <li>
                        <a href="">Support</a>
                    </li>
                    <li>
                        <a href="#" class="cta">Get Started</a>
                    </li>
                </ul>
            </nav>

            <button class="mobile-el hamburger-btn">
                <span class="hamburger-icon"></span>
            </button>
        <!-- </div> -->
    </div>
</header>

<style>
    header{
        width: 100%;
        padding: 1.25rem 0;
        background-color: rgba(248, 245, 245, 0.8);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        transition: all 0.3s ease-in;
    }
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-container .logo{
        font-family: "Inter", serif;
        letter-spacing: 1.25px;
        font-size: 1.75rem;
        font-weight: 700;
        font-style: normal;
        font-optical-sizing: auto;
        color: var(--dark-color-two);
    }
    .header-container nav ul li{
        display: inline-block;
        margin-right: 1.5rem;
    }
    .header-container nav ul li:last-child{margin-right: 0;}
    .header-container nav ul li a{color: var(--dark-color-two);}
    .header-container nav ul li .cta{color: var(--backgrd-color);}

    @media screen and (min-width: 922px){
        .header-container nav ul li a:hover{
            color: var(--soft-color-two);
            text-decoration: underline;
        }
        .mobile-el{display: none !important;}
    }
    @media screen and (max-width: 921px){
        .header-container nav ul li a:active{color: var(--dark-moss-green);}

        .hamburger-btn{
            border: 0;
            display: block;
            padding: 1.125rem 5px;
            background: transparent;
        }
        .hamburger-icon{
            display: block;
            position: relative;
            pointer-events: none;
        }
        .hamburger-icon, .hamburger-icon:before, .hamburger-icon:after {
            width: 2.25rem;
            height: 2px;
            background: var(--dark-color-two);
            border-radius: 30px;
            transition: all 0.3s ease-in-out;
        }
        .hamburger-icon{width: 1.5rem;}
        .hamburger-icon::before,
        .hamburger-icon::after{ content: '';position: absolute;left: -5px; }
        .hamburger-icon::before{bottom: 9px;}
        .hamburger-icon::after{top: 9px;}
        /* .animate{ width: 2.25rem;transform: rotate(45deg); }
        .animate::after{ transform: rotate(90deg) translate(-9px); }
        .animate::before{ opacity: 0; } */
        .animate{ background-color: transparent; }
        .animate::before{ bottom:0px;transform: rotate(45deg); }
        .animate::after{ transform: rotate(135deg) translate(-7px, 6px); }

        .header-container nav{
            position: fixed;
            width: 100%;
            padding: 4rem 0;
            right: 0;
            top: 76px;
            height: 100vh;
            text-align: center;
            transform: translate(100%, 0px);
            /* background-color: rgba(234, 224, 208, 0.95); */
            background-color: var(--backgrd-color);
            transition: all 0.3s ease-in-out;
            z-index: 11;
        }
        .header-container nav.show-nav{
            transform: translateY(0px);
        }
        .header-container nav ul li{
            display: block;
            margin-right: 0;
            margin-bottom: 2.5rem;
            font-size: 1.3rem;
        }
        .header-container nav ul li:last-child{
            margin-bottom: 0;
        }
        .header-container nav ul li .cta{
            margin: 0 auto;
        }
    }
    @media screen and (max-width: 480px){
        .header-container nav{top: 65px;}
    }
</style>
<script>
    const nav = document.querySelector('.header-nav')
    window.addEventListener('scroll', () => {
        const header = document.getElementById('header');
        const scrollY = window.scrollY;

        if (scrollY > 100) {
            header.style.backgroundColor = 'rgba(237, 243, 243, 0.8)';
            header.style.backdropFilter = 'blur(10px)';
            header.style.borderBottom = '1px solid rgba(185, 206, 206, 0.8)'
        }else{
            header.style.borderBottom = '0';
            header.style.backgroundColor = 'rgba(248, 245, 245, 0.8)';
        }
    });

    let mobileNav = document.querySelector('.header-nav');
    let hamburgerBtn = document.querySelector('.hamburger-btn');
    let hamburgerIcon = document.querySelector('.hamburger-icon')
    // let mobileCloseIcon = document.querySelector('.mobile-close-btn')

    hamburgerBtn?.addEventListener('click', toggleNav)
    // mobileCloseIcon?.addEventListener('click', toggleNav)

    function toggleNav(){
        mobileNav?.classList.toggle('show-nav');
        hamburgerIcon?.classList.toggle('animate');
    }

    // document.querySelector('.alert-close-btn')?.addEventListener('click', () =>{
    //     document.querySelector('.alert-banner').style.display = 'none';
    // })
</script>