<section>
    <div class="hero-container wrapper">
        <div class="col text-col">
            <div>
                <h1>Designing stunning and engaging websites for your business</h1>
                <p class="slug">We help business owners like you nail the website that will clarify your message, generate more clients and amplify your profits.</p>

                <a href="#" class="cta">Learn More</a>
            </div>
        </div>
        <div class="col img-col">
            <div class="inner-col big-img"></div>
        </div>
    </div>
</section>

<style>
    section{
        margin-top: 6rem;
        background-image: url('https://plus.unsplash.com/premium_photo-1661589354357-f56ddf86a0b4?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-color: rgba(248,245,245,0.88);
        background-blend-mode: lighten;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .hero-container{display: flex;}
    .hero-container .text-col{
        width: 50%;
        padding-right: 2rem;
        display: flex;
        align-items: center;
    }
    .text-col .cta{margin-top: 3rem;}
    .col h1{
        font-size: 2.85rem;
        margin-bottom: 2rem;
        line-height: 1.25;
        text-transform: uppercase;
        color: var(--dark-color-two);
    }
    .col .slug{font-size: 1.125rem;}
    .hero-container .img-col{
        width: 50%;
        display: flex;
        height: 600px;
        justify-content: center;
    }
    .img-col .big-img{
        width: 95%;
        background-image: url('https://images.unsplash.com/photo-1726065235239-b20b88d43eea?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        border: 20px solid var(--soft-color-two);
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    .img-col .two-img{
        width: 37%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .img-col .two-img figure{height: 46%;}

    @media screen and (max-width: 1155px){
        .hero-container{
            flex-direction: column;
        }
        .hero-container .col,
        .img-col .big-img{width: 100%;}
        .hero-container .text-col{
            padding-right: 0;
            margin-bottom: 3rem;
        }
    }
    @media screen and (max-width: 921px){
        .hero-container .img-col{height: 450px;}
    }
    @media screen and (max-width: 750px){
        .hero-container .img-col{height: 385px;}
        .img-col .big-img{
            border: 15px solid var(--soft-color-two);
        }
    }
    @media screen and (max-width: 480px){
        .hero-container .img-col{height: 300px;}
        .img-col .big-img{
            border: 10px solid var(--soft-color-two);
        }
    }
</style>