<section>
    <div class="services-container wrapper">
        <div class="col text-col left-col">
            <div>
                <h2>About Us</h2>
                <div class="text-container">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta exercitationem vitae consequuntur ducimus temporibus, quam architecto reprehenderit debitis quaerat nihil tempore enim officia odio nam obcaecati nostrum iste assumenda itaque.</p>
                    <p>At consectetur praesentium rerum, iusto laboriosam error optio quam aperiam. Ratione fugiat nostrum consequatur at blanditiis numquam unde omnis ipsa veniam nesciunt iste ipsam nisi.</p>
                </div>
            </div>
        </div>
        <div class="col text-col middle-col">
            <div>
                <h2>Why Choose Us</h2>
                
                <div class="text-container">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ratione optio odio vitae illo consequuntur quam tenetur dicta illum et suscipit quia fuga.</p>
                    <div class="row">
                        <div class="inner-col"><i class="fa-regular fa-circle-check"></i></div>
                        <div class="inner-col">
                            <h3>Refreshing Design</h3>
                            <p>Clean, refreshing and high-quality that gives positive vibes. Figma source file also provided so you can use to prototype, experiment, play or adjust.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="inner-col"><i class="fa-regular fa-circle-check"></i></div>
                        <div class="inner-col">
                            <h3>Developer Friendly</h3>
                            <p>Developer experience is our #1 priority, entire library is designed, coded, and organized in a way that saves hundreds of hours and increases productivity.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="inner-col"><i class="fa-regular fa-circle-check"></i></div>
                        <div class="inner-col">
                            <h3>Refreshing Design</h3>
                            <p>Clean, refreshing and high-quality that gives positive vibes. Figma source file also provided so you can use to prototype, experiment, play or adjust.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col img-col">
            <figure>
                <img src="https://images.unsplash.com/photo-1535957998253-26ae1ef29506?q=80&w=3605&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="pics" alt="" srcset="">
            </figure>
            <figure>
                <img src="https://images.unsplash.com/photo-1560250056-07ba64664864?q=80&w=3851&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="pics" alt="" srcset="">
            </figure>
        </div>
    </div>
</section>

<style>
    .services-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left-col{
        width: 30%;
        background-color: #fff;
        color: var(--dark-color-two);
        border-radius: 15px 0 0 15px;
        padding: 4rem 2rem;
        box-shadow: rgba(0, 0, 0, 0.15) -1.95px 1.95px 2.6px;
    }
    .middle-col{
        width: 40%;
        border-radius: 15px;
        padding: 4rem 2rem;
        background-color: var(--soft-color-two);
        color: var(--backgrd-color);
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
    .services-container .img-col{
        width: 30%;
        height: 600px;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .services-container .img-col figure{
        height: 50%;
    }
    .services-container .img-col figure:first-of-type img{
        border-top-right-radius: 15px;
    }
    .services-container .img-col figure:last-of-type img{
        border-bottom-right-radius: 15px;
    }
    .services-container .text-col{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text-col .text-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2.5rem 0;
    }
    .text-container .row{
        display: flex;
        justify-content: space-between;
    }
    .text-col .row .inner-col:first-of-type{
        font-size: 1.25rem;
        font-weight: 900;
        color: var(--oatmeal);
    }
    .text-col .row .inner-col:last-of-type{width: calc(100% - 40px);}
    .row h3{margin-bottom: 1rem;}



    @media screen and (max-width: 1125px){
        .services-container{flex-wrap: wrap;}
        .services-container .img-col{
            width: 40%;
            order: 2;
        }
        .middle-col{
            width: 60%;
            order: 1;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }
        .left-col{
            margin-top: 3rem;
            width: 100%;
            order: 3;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }
    }
    @media screen and (max-width: 715px){
        .services-container{gap: 2rem 0;}
        .services-container .img-col{
            width: 100%;
            order: 1;
            flex-direction: row;
            height: 250px;
            justify-content: space-between;
        }
        .services-container .img-col figure{
            height: auto;
            width: 48%;
        }
        .services-container .img-col figure img{border-radius: 15px;}
        .middle-col{
            width: 100%;
            order: 2;
        }
        .left-col{margin-top: 0;}
    }
    @media screen and (max-width: 480px){
        .services-container .img-col{height: 200px;}
        .text-col .row .inner-col:first-of-type{
            width: 20px;
        }
        .text-col .row .inner-col:last-of-type{
            width: calc(100% - 27px);
        }
        section h2{text-align: center;}
    }
</style>