<section id="getting-started">
    <div class="gettingStarted-container wrapper">
        <h2>Why Wait? Get Started Now</h2>
        <p class="slug">Don't look any further and let's work together.</p>
    </div>
</section>

<style>
    #getting-started{background-color: var(--oatmeal);}
    #getting-started h2{margin-bottom: 1rem;}
    #getting-started .slug{
        text-align: center;
        font-weight: 500;
        font-size: 1.25rem;
    }
</style>