<section id="getting-started">
    <div class="gettingStarted-container wrapper">
        <h2>Our Trusted Clients</h2>
        <div class="client-test-container">
            <div class="test-card">
                <i class="fa-solid fa-quote-left"></i>
                <p>Sit amet consectetur adipisicing elit. Ullam dignissimos incidunt magni maxime laudantium cum neque deleniti distinctio ab, beatae quam ducimus porro rerum error. Repellendus, commodi.</p>

                <div class="author">
                    <h4>- Jemma Vo</h4>
                </div>
            </div>
            <div class="test-card">
                <i class="fa-solid fa-quote-left"></i>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam dignissimos incidunt magni maxime laudantium cum neque deleniti distinctio ab, beatae quam ducimus porro rerum error.</p>

                <div class="author">
                    <h4>- Sade Walker</h4>
                </div>
            </div>
            <div class="test-card">
                <i class="fa-solid fa-quote-left"></i>
                <p>Dignissimos incidunt magni maxime laudantium cum neque deleniti distinctio ab, beatae quam ducimus porro rerum error. Repellendus, commodi. Esse, ipsam voluptatem.</p>

                <div class="author">
                    <h4>- Jonathan Morales</h4>
                </div>
            </div>
            <div class="test-card">
                <i class="fa-solid fa-quote-left"></i>
                <p>Amet consectetur adipisicing elit. Ullam dignissimos incidunt magni maxime laudantium cum neque deleniti distinctio ab, beatae quam ducimus porro rerum error.</p>

                <div class="author">
                    <h4>- Christy Nguyen</h4>
                </div>
            </div>
            <div class="test-card">
                <i class="fa-solid fa-quote-left"></i>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam dignissimos incidunt magni maxime laudantium cum neque deleniti distinctio ab, beatae quam ducimus porro rerum error.</p>

                <div class="author">
                    <h4>- Mayra Gonzalez</h4>
                </div>
            </div>
            <div class="test-card">
                <i class="fa-solid fa-quote-left"></i>
                <p>Ullam dignissimos incidunt magni maxime laudantium cum neque deleniti distinctio ab, repellendus, commodi. Esse, ipsam voluptatem.</p>

                <div class="author">
                    <h4>- Nick Holmes</h4>
                </div>
            </div>
        </div>
        <h2>Why Wait? Get Started Now</h2>
        <p class="slug">Don't look any further and let's work together.</p>
    </div>
</section>

<style>
    section{
        background-color: var(--soft-color-two);
        color: var(--backgrd-color);
    }
    section h2{text-align: center;}
    section h2:last-of-type{margin-bottom: 1rem;}
    .client-test-container{
        display: flex;
        gap: 2rem 1rem;
        flex-wrap: wrap;
        margin-bottom: 5rem;
    }
    .test-card{
        background-color: var(--dark-color-two);
        border-radius: 8px;
        padding:1.5rem;
        color: var(--backgrd-color);
        width: 23%;
        min-width: 200px;
    }
    .test-card i{
        padding: 5px 7px;
        border: 1px solid var(--soft-color-two);
        color: var(--soft-color-two);
        border-radius: 30px;
        margin-bottom: 1rem;
    }
    .test-card p{
        font-style: italic;
    }
    .test-card .author{margin-top: 1rem;}

    #getting-started .slug{
        text-align: center;
        font-weight: 500;
        font-size: 1.25rem;
    }
</style>