<section id="getting-started">
    <div class="gettingStarted-container wrapper">
        <h2>Our Trusted Clients</h2>
        <div class="client-test-container">
            <div class="test-card">
                <i class="fa-solid fa-quote-left"></i>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam dignissimos incidunt magni maxime laudantium cum neque deleniti distinctio ab, beatae quam ducimus porro rerum error. Repellendus, commodi. Esse, ipsam voluptatem.</p>

                <div class="author">
                    <h4>Jane Doe</h4>
                    <p class="job-title">CFO of Yelp</p>
                </div>
            </div>
        </div>
        <h2>Why Wait? Get Started Now</h2>
        <p class="slug">Don't look any further and let's work together.</p>
    </div>
</section>

<style>
    section{
        background-color: var(--soft-color-two);
        color: var(--backgrd-color);
    }
    section h2{text-align: center;}
    section h2:last-of-type{margin-bottom: 1rem;}
    #getting-started .slug{
        text-align: center;
        font-weight: 500;
        font-size: 1.25rem;
    }
</style>